<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ngAuth</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn"><a (click)="onClickSignUp()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!isLoggedIn"><a (click)="onClickSignIn()"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <li *ngIf="isLoggedIn"><a (click)="onSignOut()"><span class="glyphicon glyphicon-log-out"></span> Sign Out({{displayName}})</a></li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="visibilityStatusSignIn">
  <div class="container">
    <div class="jumbotron">
      <h1>Sign In</h1>
      <div class="container">
        <div class="omb_login">
          <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
              <a (click)="onFacebookSiginIn()" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
              </a>
            </div>
            <div class="col-xs-4 col-sm-2">
              <a (click)="onTwitterSiginIn()" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
              </a>
            </div>
            <div class="col-xs-4 col-sm-2">
              <a (click)="onGoogleSiginIn()" class="btn btn-lg btn-block omb_btn-google">
                <i class="fa fa-google-plus visible-xs"></i>
                <span class="hidden-xs">Google</span>
              </a>
            </div>
          </div>

          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
              <form class="omb_loginForm" autocomplete="off" (ngSubmit)="onSin(sForm)" #sForm="ngForm">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="email" class="form-control" name="email" placeholder="email address" ngModel required>
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input  type="password" class="form-control" name="password" placeholder="Password" ngModel required>
                </div>

                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="visibilityStatusSignUp">

  <div class="container">
    <div class="jumbotron">
      <h1>Sign Up</h1>
      <div class="container">
        <div class="omb_login">
          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
              <form class="omb_loginForm" (ngSubmit)="onSup(sForm)" #sForm="ngForm" autocomplete="off">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="email" class="form-control" name="email" placeholder="email address" ngModel required>
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input  type="password" class="form-control" name="password" placeholder="Password" ngModel required>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
